{% extends 'base/base.html' %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data" class="text-center">
  <p class="fs-4 fw-bold">Удаление:</p>
  <p>Вы действительно хотите удалить</p>
  <p>из: <strong>{{ obj.emission_source }}</strong>, № источника: <strong>{{ obj.emission_source_number }}</strong>, № АУ или ПТУ: <strong>{{ obj.au_ptu_number }}</strong></p>
  {% csrf_token %} 
    <input
      class="btn btn-danger"
      type="submit"
      value="Удалить"
    />
</form>

{% endblock content %}
