{% extends 'base/base.html' %} {% block content %}
<div class="mb-3">
  <hr />
  <form class="w-50" method="get" action="{% url 'boiler-waste-main' %}">
    <p class="fs-4 fw-bold">Поиск</p>
    <div class="input-group mb-3">
      <label class="input-group-text">Год</label>
      <input
        type="year"
        name="year"
        class="form-control me-1"
        placeholder="Год"
        value="{{ page_data.year }}"
      />
      <label class="input-group-text">Квартал</label>
      <select name="quarter" type="text" class="form-select">
        <option value="{{ page_data.quarter }}" selected hidden>{{ page_data.quarter }}</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Найти" />
  </form>
  
  <hr />

  <p class="fs-4">
    Валовый выброс <strong><u>углерода оксида</u></strong> за
    <strong>{{ page_data.year }}</strong> год,
    <strong> {{ page_data.quarter }}</strong> квартал
  </p>
  
  <table class="table table-bordered table-hover caption-top table-sm">
    <caption class="text-end">Таблица с записями</caption>
    <thead>
      <tr class="text-center align-middle">
        <th></th>
        <th>В,тыс м3</th>
        <th>Qн,ккал/м3</th>
        <th>K</th>
        <th>Qн,МДж/м3</th>
        <th>q3,%</th>
        <th>R</th>
        <th>Ссо,г/м3</th>
        <th>М(CO),т/мес</th>
        <th></th>
      </tr>
    </thead>
    
    <!-- --------------------------------------------------------------- -->
    <tbody>
      {% for item in page_data.months %}
      <tr>
        <td colspan="10"><i>{{ item }}</i></td>
      </tr>
        {% for elem in table_data.data1 %}
        {% if elem.month == item %}
            <tr class="text-center align-middle">
              <td>{{ elem.name.name }}</td>
              <td>{{ elem.B }}</td>
              <td>{{ elem.Qh }}</td>
              <td>{{ elem.name.K }}</td>
              <td>{{ elem.Qh_calc }}</td>
              <td>{{ elem.name.q3}}</td>
              <td>{{ elem.name.R }}</td>
              <td>{{ elem.Cco }}</td>
              <td>{{ elem.Mco }}</td>
              <td style="padding-left: 0; padding-right: 0">
                <a
                  href="{% url 'boiler-carbon-waste-update' page_data.year page_data.quarter elem.pk %}"
                  class="btn btn-warning btn-sm me-1"
                  >Изм</a
                >
                <a
                  href="{% url 'boiler-carbon-waste-delete' elem.pk %}"
                  class="btn btn-danger btn-sm"
                  >Удл</a
                >
              </td>
            </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}

    </tbody>
  </table>
  <a
  href="{% url 'boiler-carbon-waste-create' page_data.year page_data.quarter %}"
  class="btn btn-success"
  >Добавить в эту таблицу</a
>

  <table class="table table-bordered table-hover table-sm w-50 caption-top text-center align-middle table-sm">
    <caption class="text-end">Квартальный расчет</caption>
    <thead>
      <tr>
        <th></th>
        <th>В,тыс м3</th>
        <th>М(CO),т/мес</th>
      </tr>
    </thead>
    <tbody>
      {% for elem in table_data.sum_carbon %}
      <tr>
        {% for item in elem %}
        <td>{{ item }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    </table>  

    <hr class="mt-5"/>

  <p class="fs-4 mt-3">
    Валовый выброс <strong><u>азота диоксида и азота оксида</u></strong> за
    <strong>{{ page_data.year }}</strong> год,
    <strong> {{ page_data.quarter }}</strong> квартал
  </p>
  
  <table class="table table-bordered table-hover mt-3 caption-top table-sm">
    <caption class="text-end">Таблица с записями</caption>
    <thead>
      <tr class="text-center align-middle">
        <th></th>
        <th>В,тыс м3</th>
        <th>Qн,ккал/м3</th>
        <th>K</th>
        <th>Q</th>
        <th>τ,час</th>
        <th>Вs,м3/с</th>
        <th>Кnoх,г/МДж</th>
        <th>Мnox,т/год</th>
        <th>βк</th>
        <th>βт</th>
        <th>М(NO<sub>2</sub>)</th>
        <th>М(NO)</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      {% for item in page_data.months %}
      <tr>
        <td colspan="15"><i>{{ item }}</i></td>
      </tr>
        {% for elem in table_data.data2 %}
        {% if elem.month == item %}
            <tr class="text-center align-middle">
              <td>{{ elem.name.name }}</td>
              <td>{{ elem.B }}</td>
              <td>{{ elem.Qh }}</td>
              <td>{{ elem.name.K }}</td>
              <td>{{ elem.Q }}</td>
              <td>{{ elem.T }}</td>
              <td>{{ elem.Bs}}</td>
              <td>{{ elem.Knox }}</td>
              <td>{{ elem.Mnox }}</td>
              <td>{{ elem.name.Bk }}</td>
              <td>{{ elem.name.Bt }}</td>
              <td>{{ elem.Mno2 }}</td>
              <td>{{ elem.Mno }}</td>
              <td style="padding-left: 0; padding-right: 0">
                <a
                  href="{% url 'boiler-nitrogen-waste-update' page_data.year page_data.quarter elem.pk %}"
                  class="btn btn-warning btn-sm me-1"
                  >Изм</a
                >
                <a
                  href="{% url 'boiler-nitrogen-waste-delete' elem.pk %}"
                  class="btn btn-danger btn-sm"
                  >Удл</a
                >
              </td>
            </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}

    </tbody>
  </table>
  <a
    href="{% url 'boiler-nitrogen-waste-create' page_data.year page_data.quarter %}"
    class="btn btn-success"
    >Добавить в эту таблицу</a
  >
  <table class="table table-bordered table-hover table-sm w-50 caption-top text-center align-middle table-sm">
    <caption class="text-end">Квартальный расчет</caption>
    <thead>
      <tr>
        <th></th>
        <th>В,тыс м3</th>
        <th>М(NO)</th>
        <th>М(NO<sub>2</sub>)</th>
      </tr>
    </thead>
    <tbody>
      {% for elem in table_data.sum_nitrogen %}
      <tr>
        {% for item in elem %}
        <td>{{ item }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>  

  <hr class="mt-5">
  <p class="fs-4 mt-3">
    Расчет <strong><u>дизельного топлива и сажи</u></strong> за
    <strong>{{ page_data.year }}</strong> год,
    <strong> {{ page_data.quarter }}</strong> квартал
  </p>

  <table class="text-center table table-bordered table-hover mt-3 caption-top table-sm w-50">
    <caption class="text-end">Таблица с записями</caption>
    <thead class="align-middle">
      <tr>
        <th></th>
        <th>Месяц</th>
        <th>В,тыс м3</th>
        <th>Серы диоксид (дизельное топливо)<br>Mso2, т/год</th>
        <th>Углерод черный (сажа)<br>M c, т/год</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for elem in table_data.data3 %}
      <tr>
        <td>{{ elem.name.name }}</td>
        <td>{{ elem.month }}</td>
        <td>{{ elem.B }}</td>
        <td>{{ elem.Mc }}</td>
        <td>{{ elem.Mso2 }}</td>
        <td>
          <a
            href="{% url 'boiler-sulf_carb-waste-update' page_data.year page_data.quarter elem.pk %}"
            class="btn btn-warning btn-sm me-1"
            >Изм</a
          >
          <a
            href="{% url 'boiler-sulf_carb-waste-delete' elem.pk %}"
            class="btn btn-danger btn-sm"
            >Удл</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
      {% for item in table_data.sum_CB_SD %}
        <td class="fw-bold">{{ item }}</td>
      {% endfor %}
      <td></td>
      </tr>
    </tfoot>
  </table>
  
  <a
    href="{% url 'boiler-sulf_carb-waste-create' page_data.year page_data.quarter %}"
    class="btn btn-success"
    >Добавить в эту таблицу</a
  >
  <br>
  <a href="{% url 'excel-download-boiler' page_data.year page_data.quarter %}" class="btn btn-primary mt-1">Скачать файл за {{ page_data.year }} год (Excel)</a>
</div>

{% endblock content %}
